/* CSS Document */
.creatcontent{
padding-top:10px;
width:60px;
font:"Arial","宋体","SimSun";
font-size:9pt;
font-weight:normal;
color:#025d7b;
float:left;
}

.creatcontentinput{
width:200px;
padding-top:6px;
float:left;
}

.timeicon{
width:80px;
height:15px;
padding-top:10px;
float:left;
}

#creatpadding{
margin-left:200px;
}

.creatbt{
width:102px;
height:29px;
background-image:url(../images/mainwrap/mainbg/button_normal.png);
text-align:center;
padding-top:6px;
font:"Arial","宋体","SimSun";
font-size:9pt;
color:#FFFFFF;
}

.creatbt:link{
width:102px;
height:29px;
background-image:url(../images/mainwrap/mainbg/button_normal.png);
text-align:center;
padding-top:6px;
font:"Arial","宋体","SimSun";
font-size:9pt;
color:#FFFFFF;
}

.creatbt:hover{
width:102px;
height:29px;
background-image:url(../images/mainwrap/mainbg/button_over.png);
text-align:center;
padding-top:6px;
font:"Arial","宋体","SimSun";
font-size:9pt;
color:#FFFFFF;
cursor:pointer;
}