.menufont{
font:"ו";
font-size:12px;
font-weight:bold;
color:#138bb3;
margin-top:0px;
width:80px;
margin-left:30px;
height:20px;
}
.menufont:link{
font:"ו";
font-size:12px;
font-weight:bold;
color:#138bb3;
margin-top:0px;
width:80px;
margin-left:30px;
height:20px;
}
.menufont:hover{
font:"ו";
font-size:12px;
font-weight:bold;
color:#025d7b;
margin-top:0px;
width:80px;
margin-left:30px;
height:20px;
}

.menufont_bt{
line-height:34px;
width:124px; 
height:34px;
cursor:pointer; 
background-image:url(../images/mainwrap/leftmenu/menubotton_normal.png);
}
.menufont_bt:link{
line-height:34px;
width:124px; 
height:34px;
cursor:pointer; 
background-image:url(../images/mainwrap/leftmenu/menubotton_normal.png);
}
.menufont_bt:hover{
line-height:34px;
width:124px; 
height:34px;
cursor:pointer;
background-image:url(../images/mainwrap/leftmenu/menubotton_over.png);
}