/* CSS Document */
.body{
background-image:url(../images/bg.jpg);
background-repeat:repeat-x;
background-color:#FFFFFF;
}

.loginbody{
background-image:url(../images/mainwrap/login/loginbg.jpg);
background-repeat:repeat-x;
background-color:#FFFFFF;
}

.leftmenubg{
background-image: url(../images/mainwrap/mainbg/leftmid.jpg);
background-repeat:repeat-x;
}

.rightmainbg{
background-image:url(../images/mainwrap/mainbg/rightmid.jpg);
background-repeat:repeat-x;
}

.shouyebt{
width:124px;
height:34px;
background-image:url(../images/mainwrap/leftmenu/shouyebt_normal.jpg);
}
.shouyebt:link{
background-image:url(../images/mainwrap/leftmenu/shouyebt_normal.jpg);
}
.shouyebt:hover{
background-image:url(../images/mainwrap/leftmenu/shouyebt_over.jpg);
cursor:pointer;
}

.yingxiaoguanlibt{
width:124px;
height:34px;
background-image:url(../images/mainwrap/leftmenu/yingxiaoguanlibt_over.jpg);
}
.yingxiaoguanlibt:link{
background-image:url(../images/mainwrap/leftmenu/yingxiaoguanlibt_over.jpg);
}

.yingxiaoguanli_sub{
width:125px;
margin-top:-13px;
}

.yingxiaoguanli_sub li{
font:"ו";
font-size:12px;
color:#7d7d7d;
list-style-image:url(../images/mainwrap/leftmenu/submenu/dot_normal.jpg);
margin-left:-15px;
line-height:25px;
}
.yingxiaoguanli_sub li:link{
font:"ו";
font-size:12px;
color:#7d7d7d;
list-style-image:url(../images/mainwrap/leftmenu/submenu/dot_normal.jpg);
margin-left:-15px;
line-height:25px;
}
.yingxiaoguanli_sub li:hover{
font:"ו";
font-size:12px;
color:#025d7b;
list-style-image:url(../images/mainwrap/leftmenu/submenu/dot_over.jpg);
margin-left:-15px;
line-height:25px;
cursor:pointer;
}

.xiaoshouguanlibt{
width:124px;
height:34px;
background-image:url(../images/mainwrap/leftmenu/xiaoshouguanli_normal.jpg);
}
.xiaoshouguanlibt:link{
background-image:url(../images/mainwrap/leftmenu/xiaoshouguanli_normal.jpg);
}
.xiaoshouguanlibt:hover{
background-image:url(../images/mainwrap/leftmenu/xiaoshouguanli_over.jpg);
cursor:pointer;
}

.jingxiaoshangguanlibt{
width:124px;
height:34px;
background-image:url(../images/mainwrap/leftmenu/jingxiaoshangguanli_normal.jpg);
}
.jingxiaoshangguanlibt:link{
background-image:url(../images/mainwrap/leftmenu/jingxiaoshangguanli_normal.jpg);
}
.jingxiaoshangguanlibt:hover{
background-image:url(../images/mainwrap/leftmenu/jingxiaoshangguanli_over.jpg);
cursor:pointer;
}

.kucunguanlibt{
width:124px;
height:34px;
background-image:url(../images/mainwrap/leftmenu/kucunguanlibt_normal.jpg);
}
.kucunguanlibt:link{
background-image:url(../images/mainwrap/leftmenu/kucunguanlibt_normal.jpg);
}
.kucunguanlibt:hover{
background-image:url(../images/mainwrap/leftmenu/kucunguanlibt_over.jpg);
cursor:pointer;
}

.qitaguanlibt{
width:124px;
height:34px;
background-image:url(../images/mainwrap/leftmenu/qitaguanlibt_normal.jpg);
}
.qitaguanlibt:link{
background-image:url(../images/mainwrap/leftmenu/qitaguanlibt_normal.jpg);
}
.qitaguanlibt:hover{
background-image:url(../images/mainwrap/leftmenu/qitaguanlibt_over.jpg);
cursor:pointer;
}

.xitongguanlibt{
width:124px;
height:34px;
background-image:url(../images/mainwrap/leftmenu/xitongguanlibt_normal.jpg);
}
.xitongguanlibt:link{
background-image:url(../images/mainwrap/leftmenu/xitongguanlibt_normal.jpg);
}
.xitongguanlibt:hover{
background-image:url(../images/mainwrap/leftmenu/xitongguanlibt_over.jpg);
cursor:pointer;
}

.shouhouguanhuaibt{
width:124px;
height:34px;
background-image:url(../images/mainwrap/leftmenu/shouhouguanhuaibt_normal.jpg);
}
.shouhouguanhuaibt:link{
background-image:url(../images/mainwrap/leftmenu/shouhouguanhuaibt_normal.jpg);
}
.shouhouguanhuaibt:hover{
background-image:url(../images/mainwrap/leftmenu/shouhouguanhuaibt_overl.jpg);
cursor:pointer;
}

.qitabt{
width:124px;
height:34px;
background-image:url(../images/mainwrap/leftmenu/qitabt_normal.jpg);
}
.qitabt:link{
background-image:url(../images/mainwrap/leftmenu/qitabt_normal.jpg);
}
.qitabt:hover{
background-image:url(../images/mainwrap/leftmenu/qitabt_over.jpg);
cursor:pointer;
}

.text_no_underline{
text-decoration:none;
}

.infobar{
width: 15px;
height: 560px;
font-size: 0px;
margin:0px;
}

.infobar_hidden{
	background: url(../images/arrow_right.gif) no-repeat center center;
}
.infobar_show{
	background: url(../images/arrow_left.gif) no-repeat center center;
}
.widgetcontent{
	width: 135px;
	height: 100%;
}