<html><title>ShangHai GM - Personal Identification Number</title>
<body>
<img src={dealer_image_path} width=40 height=20>
<table><tr><td>{content_title}</td></tr><tr><td>Dear {name}, <br><br>Thank you for using our services.<br><br>Your new PIN number is : <b>{pin_num}</b><br><br>Please complete the following steps to reset your Password:<br>1. Enter your new PIN.<br>2. Then enter your New Password.<br>3. Re-enter your New Password.<br>4. Submit your request.<br><br>Sincerely,<br>{sender} </td></tr></table></body></html>